<widget xmlns="http://www.w3.org/ns/widgets" id="extensions:opera-portal" viewmodes="minimized" version="1.02">
	<name>News Portal</name>
    <description>Live updates from all your favorite websites.</description>
	<author href="http://opera.com">Opera Software</author>
	<icon src="opera_icon_clean.png"/>
	<access origin="http://portal.opera.com"/>
	<access origin="*"/>
	<feature name="opera:speeddial" required="true">
	 <param name="url" value="http://portal.opera.com"/>
	</feature>
	<license></license>
	<preference name="sources" value=''/>
	<preference name="delay" value="15"/> 
	<preference name="baseURI" value="http://portal.opera.com/api/"/>
</widget>
