body {
    background-color: rgb(245, 245, 245);
    max-width: 800px;
    font-family: sans-serif;
    color: rgb(64,64,64);
}

h3, p {
    margin: 0;
    padding: 0;
}

#sources {
    background-color: white;
    padding: 0;
    margin: 0.5em 0;
    overflow: hidden;
    border: 1px solid rgb(205,205,205);
    border-radius: 5px 5px;
    color: rgb(105,105,105);
}

ul {
    margin: 0;
    padding: 0;
}

li {
    padding: 0.5em 1em;
    padding-right: 0.5em;
    border-bottom: 1px solid rgb(234,234,234);
    list-style-type: none;
}

#save-button {
    cursor: pointer;
    float: right;
    background-color: rgb(83,114,179);
    border: 1px solid rgb(49,77,137);
    color: white;
    border-radius: 5px 5px;
    padding: 0.3em 1em;
}

#remove-source {
    content: '-';
}

input {
    text-align: right;
    width: 2em;
    margin-right: 0.5em;
}

select {
    margin-right: 1em;
    width: 60%;
}

.remove-source {
    float: right;
}

#new-source {
    display: inline-block;
    float: right;
    margin: 0.5em;
    font-weight: bold;
    font-size: 1.1em;
}

#note {
    display: inline-block;
    float: left;
    font-weight: bold;
}
#notice-text {
    display: inline-block;
    max-width: 90%;
    float: right;
}
